@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$dark: #181818;
$light: #fff;

$mainFont: "Roboto", sans-serif;

$break-large: 1220px;
$break-medium: 1024px;
$break-tablet: 768px;
$break-small: 420px;
$break-mini: 375px;